[submodule "generic_components"]
	path = generic_components
	url = https://git.ce.utwente.nl/generic_components
[submodule "motion_control"]
	path = motion_control
	url = git@bitbucket.org:marcoruzzenente/motioncontrol.git
