<?xml version="1.0"?>
<launch>
   <include file="$(find raw_bringup)/components/base_front_hokuyo_node.launch" />
<!--   <include file="$(find youbot_navigation_global)/launch/amcl.launch" />-->
	<include file="$(find raw_2dnav)/ros/launch/2dnav.launch" />
	<include file="$(find raw_bringup)/components/youbot_joint_state_publisher.launch" />
</launch>
